---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Binaya K. Chaudhary">
  <main
    class="my-8 mx-auto flex flex-col flex-1 w-full max-w-[800px] h-full px-4 lg:px-0"
  >
    <h2 class="text-2xl font-bold text-zinc-800 dark:text-zinc-100 sm:text-3xl">
      Hello world!
    </h2>
    <p class="mt-6 font-normal text-lg text-zinc-600 dark:text-zinc-400">
      I'm Binaya, a full-stack software engineer based in Canada, passionate for
      transforming complex ideas into efficient software solutions. Interested
      in Artificial Intelligence, Machine Learning, DevOps, System Design, and
      Distributed Systems.
    </p>
    <p class="mt-6 font-normal text-lg text-zinc-600 dark:text-zinc-400">
      My proficiency extends across front-end and back-end technologies,
      enabling me to design and develop end-to-end solutions that meet business
      objectives and exceed user expectations. I tend to work a lot with
      algorithms, data-structures and distributed systems, enabling me to solve
      complex problems and build high performance systems. Besides development,
      I also love to work with servers, practicing DevOps, automate things and
      engage in system design.
    </p>
  </main>
</Layout>
